/* -------------------------------------------------------------------------- */
/* --- CSS Style Sheet for why3find doc generator                         --- */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* --- Links                                                              --- */
/* -------------------------------------------------------------------------- */

a {
    color: teal;
    outline: none;
    text-decoration: none;
}

a:visited {
    color: teal;
}

a:hover {
    background: lightgreen;
}

a:target {
    background: lightblue;
}

/* -------------------------------------------------------------------------- */
/* --- Header Styling                                                     --- */
/* -------------------------------------------------------------------------- */

header {
    padding: 4px ;
    color: darkgrey ;
    border-bottom: thin solid darkgray ;
}

header a { color: grey !important }

/* -------------------------------------------------------------------------- */
/* --- Table Of Contents                                                  --- */
/* -------------------------------------------------------------------------- */

nav { display: none; }

/* -------------------------------------------------------------------------- */
/* --- Documentation Styling                                              --- */
/* -------------------------------------------------------------------------- */

div.doc {
    /* Documentation block styling */
}

/* -------------------------------------------------------------------------- */
/* --- Source Code Styling                                                --- */
/* -------------------------------------------------------------------------- */

pre.src {
    /* Source code block styling */
}

.scope {
    color: teal;
}

.keyword {
    color: purple;
}

.admitted {
    color: #DA2525;
}

.attribute {
    color: green;
}

.comment {
    color: grey;
}

/* -------------------------------------------------------------------------- */
/* --- Proof Marks                                                        --- */
/* -------------------------------------------------------------------------- */

.icon {
    margin-left: 2px ;
    vertical-align: text-top ;
    font-size: small ;
    text-decoration: none ;
}

.icon.small { font-size: x-small }

.valid { color: green !important }
.failed { color: red !important }
.warning { color: orange !important }
.remark { color: lightgrey !important }
.prover:hover { color: purple }

/* -------------------------------------------------------------------------- */
/* --- Foldable Section                                                   --- */
/* -------------------------------------------------------------------------- */

.section { }

.section.level1:hover {
    background: #fcfce1;
}

.section.level2:hover {
    background: #e9ffe9;
}

.section.level3:hover {
    background: #fff6f6;
}

.section-toggle:hover {
    background: lightgreen;
}

.section-toggle {
    cursor: zoom-in ;
}

.section-toggle.active {
    cursor: zoom-out ;
}

.section-text {
    display: none;
}

.section-text.active {
    display: inline;
}

/* -------------------------------------------------------------------------- */
